jsonschema==4.26.0
mypy==2.3.1
mypy-extensions==1.1.0
requests==2.34.2
typing_extensions==4.16.0
PyGithub==2.10.0
pylint==4.0.7
black==26.5.1
pytest==9.1.1
pytest-cov==7.1.0
pytest-mock==3.15.1
types-jsonschema==4.26.0.20260518
types-requests==2.33.0.20260712
living-doc-utilities==0.3.1
