mypy==2.1.0
mypy-extensions==1.1.0
requests==2.34.2
typing_extensions==4.15.0
PyGithub==2.9.1
pylint==4.0.5
black==26.5.1
pytest==9.1.0
pytest-cov==7.1.0
pytest-mock==3.15.1
types-requests==2.33.0.20260518
living-doc-utilities==0.3.1
