mypy==1.19.1
mypy-extensions==1.1.0
requests==2.32.5
typing_extensions==4.15.0
PyGithub==2.8.1
pylint==4.0.5
black==26.1.0
pytest==9.0.2
pytest-cov==7.0.0
pytest-mock==3.15.1
types-requests==2.32.4.20260107
living-doc-utilities==0.3.1
